---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

interface Props {
  post: Awaited<ReturnType<typeof getCollection<"blogPosts">>>[number];
  catFreqs: Record<string, number>;
}

const { post, catFreqs } = Astro.props;
---

<article>
  <a href={`/posts/${post.id}`} class="no-underline! hover:underline!">
    {
      post.data.coverImage && (
        <Image
          src={post.data.coverImage}
          alt="Cover image"
          class="rounded-sm mb-4"
        />
      )
    }
    <h4>{post.data.title}</h4>
    <p>
      {post.data.createdAt?.toLocaleDateString() ?? "Unknown Date"}
    </p>
    <small>{post.data.summary}</small>
  </a>
  <div class="flex flex-row gap-2 mt-2">
    {
      post.data.categories.map((cat) => (
        <small>
          <code>
            <a href={`/posts/${cat}`}>
              {cat} ({catFreqs[cat]})
            </a>
          </code>{" "}
        </small>
      ))
    }
  </div>
</article>
